Quiz 06/20127404.json
[
    {
        "id": "933a4f772c4b926b",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "376c22e9eb974bef",
        "type": "mqtt in",
        "z": "933a4f772c4b926b",
        "name": "",
        "topic": "20127404/in",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "05a7041d7a50e302",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "27f58835046af270",
                "d92634c6c4f8fa80"
            ]
        ]
    },
    {
        "id": "8d951555a49ef053",
        "type": "mqtt out",
        "z": "933a4f772c4b926b",
        "name": "",
        "topic": "20127404/out",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "05a7041d7a50e302",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "27f58835046af270",
        "type": "ui_text",
        "z": "933a4f772c4b926b",
        "group": "4975a809453d21ae",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ID_presentation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "cd75e2b5abf94afb",
        "type": "ui_form",
        "z": "933a4f772c4b926b",
        "name": "",
        "label": "",
        "group": "4975a809453d21ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Your Student ID",
                "value": "ID",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "ID": ""
        },
        "payload": "",
        "submit": "Send",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "8d951555a49ef053"
            ]
        ]
    },
    {
        "id": "d92634c6c4f8fa80",
        "type": "debug",
        "z": "933a4f772c4b926b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "05a7041d7a50e302",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4975a809453d21ae",
        "type": "ui_group",
        "name": "Home",
        "tab": "6ee64212ed25996c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ee64212ed25996c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]